[2013-10-19 22:25] fosdev opened #1 "Typos and misc fixes"
@mamund Below is a list of typos and other fixes if found in review the text version. Do you want me to open a PR on these to fix them and we can discuss them there, or how would you like to proceed?
- https://github.com/alps-io/spec/blob/master/draft-00.txt#L309
  appears attribute not defined
- https://github.com/alps-io/spec/blob/master/draft-00.txt#L406
  Typo express
- https://github.com/alps

[2013-10-19 23:34] fosdev opened #2 "Consistent terminology w/r to affordances"
You use state transition, link relations and hypermedia control vernacular interchangeably, should this be made consistent? You grappled with this in the book and settled on 'link relation'. Should you do that and specify that means 'state transition' etc.?
- https://github.com/alps-io/spec/blob/master/draft-00.txt#L250-L251
- https://github.com/alps-io/spec/blob/master/draft-00.txt#L263
- https:/

[2013-11-04 15:52] #1 closed, assigned to mamund

[2013-11-04 15:53] fosdev opened #3 "Clarify relation of id and name"
https://github.com/alps-io/spec/blob/master/draft-00.txt#L830

This is confusing. Does this mean that the id is used elsewhere vs. name. Think this needs to be worded better.

[2013-11-04 15:58] fosdev opened #4 "Clarify dual use of semantic type for data and affordances"
https://github.com/alps-io/spec/blob/master/draft-00.txt#L878
No OR and following content that is transition related.

This is really non-intuitive. Because the type `semantic` is used for both data and safe, idempotent transitions, there is nothing in ALPS that clearly indicates what is semantic data vs. a transition.

Further, why would you list a transition as semantic. You would find the 'sema

[2013-11-04 16:30] fosdev opened #5 "Clarify 'processing' (dereferencing) nested descriptor chains"
https://github.com/alps-io/spec/blob/master/draft-00/draft-00.txt#L677-L681

We need to develop some guidelines about what this 'process' is. If I inherit properties from other profiles, I must in some fashion dereference the profile to find out which ones I have inherited. E.g. I am trying to resolve some attribute out of the profile of a response but it exists in the definition of a composed pro

[2013-11-04 16:38] fosdev opened #6 "Clarify the XML id uniqueness constraint of a profile."
This relates to https://github.com/alps-io/spec/issues/5 in that it could be possible to dereference an external profile that results in an XML document with non-unique ids. We talked about addressing this in authoring guidelines that indicate one must check this w/r to composing other profiles, linting profiles and their external references when they are submitted to catch non-uniqueness (albeit

[2013-11-04 16:53] fosdev opened #7 "`ext` not re-usable in profile."
Currently, the `ext` tag needs an href or something to allow it to be re-usable. Further, I think it needs to support a more abstract meaning potentially than something as concrete as the example here: https://github.com/alps-io/spec/blob/master/draft-00/draft-00.txt#L978

It may already do that, but I think an example would be good, where one may want to indicate some metadata about a list of opt

[2013-11-04 16:55] fosdev opened #8 "Support for semantic descriptor options"
I think the idea of values (options) for a descriptor is an idea that I think should be in ALPS vs. an extension like https://github.com/alps-io/spec/blob/master/draft-00.txt#L978. One could then have a profile for that information, etc.

I think ALPS reflects everything one could expect for understanding a profile except for being aware that there is some constrained list of values for a descript

[2013-11-04 23:02] fosdev opened #9 "Section 2.2.7 id section expansion"
I think there are enough significant ideas to warrant the following sections:

2.2.7.1 to discuss fragments in ALPS explicitly

2.2.7.2 Suggested to discuss definition of link relations:
https://github.com/alps-io/spec/blob/master/draft-00.txt#L801
This is a really important idea that should not be lost (missed) in here.

Also, I think this example is misleading in that I think it needs some profi

[2013-11-04 23:08] fosdev opened #10 "Section 2.2.3 clarification on either/and/or of id and href"
https://github.com/alps-io/spec/blob/master/draft-00.txt#L649-L651

Seems minimum is an href or id. So, SHOULD have or MUST have id or href. MAY have both. If there is never an id you can’t use it to figure out what something related to it means and you can’t reference it in profile or type link. Seems some thought needed here. This ties to the ability to parse the profile to figure out what somet

[2013-11-04 23:12] fosdev opened #11 "Resolve discussion and wording on section 2.2.11 'rt'"
I am all for keeping it. I think giving hints on return type on a transition is useful and crucial for the application/service that may use ALPS to generate responses based on the profiles associated with the transition.

[2013-11-04 23:20] fosdev opened #12 "Same-as and profile reuse with different naming conventions"
I think, as @leonardr has mentioned in discussion, there is a need for some same-as convention, particularly if ALPS defines vocabularies vs. solely consumes external vocabularies.

Also, I think some guidelines are probably warranted around what should be done for profile re-use, etc, when using different naming conventions, e.g. profile in camelCase, responses in snake_case and vice versa. So, a

[2013-11-04 23:25] fosdev opened #13 "Resolve Conneg discussion associated with human readable documentation"
https://github.com/alps-io/spec/blob/master/draft-00.txt#L535-L539

Human readable via docs attribute only? If help, can be external, if not, on what level of conneg would you get just the human readable version. Is that generated from ALPS or referencing something elsewhere?

[2013-11-05 15:42] fosdev opened #14 "Clarify dependency management best practices"
Document management guidelines to prevent externally consumed profiles that change causing ripple effects if you reference or extend them. Promises of consistency.

Applies To:
- https://github.com/alps-io/misc-docs/blob/master/dependency_management_guidelines.asciidoc

[2013-11-05 15:52] fosdev opened #15 "Clarify how to write media-type specific ALPS profiles for the registry"
Lots of clarification needed here: https://github.com/alps-io/spec/blob/master/draft-00.txt#L1124

Applies to:
- https://github.com/alps-io/misc-docs/blob/master/media_type_alps_guidelines.asciidoc

[2013-11-05 16:01] fosdev opened #16 "Clarify implied structure and how to uniquely correlate semantics of data and affordances of a response with associated unique ALPS descriptor"
I think the conventions of how to reference elements in a document with ALPS or vice versa is important. E.g. what must or may be there. This ties to instructions on writing clients that can correlate something in a response with a unique (and correct) descriptor.

In what cases, will structure and scope be necessary to uniquely determine descriptors?

Should ALPS work absent media-type specific u

[2013-11-15 05:41] fosdev opened #17 "Runtime instance extensions of profiles"
Allows a service to dictate extension to a profile via:
1. Header convention
2. Well-known

Less not have to fork ALPS. Prevent profile explosion.

What is the best way to do this?

[2013-11-15 05:45] fosdev opened #18 "rt on semantic descriptors"
Allow a profile to be constraining as an option. Indicates some semantic element is one or more of another resource (references profile).

Not a MUST or SHOULD, but a MAY.

[2013-11-15 05:48] fosdev opened #19 "profile mapping to response should be intuitive in the context of any media-type"
Requires minimal definition of nuances per media-type. Examples in ALPS spec should illuminate this. Examples forthcoming.

[2013-12-11 08:47] JDureau opened #20 "Policy on plurals"
Not sure this question belongs to here, but I wanted to check what's your view on the use of plurals.
On schema.org, descriptors are usually duplicated with and without the 's', and the following piece is added to the plural description:

(legacy spelling; see singular form,<name>)

Are we going to stick to that policy? Does it imply both descriptors can be used interchangeably?

Thanks.

[2014-01-16 06:54] #20 closed, assigned to nobody

[2014-01-18 01:31] glennblock opened #21 "ALPS documents can apply to any media type."
In section 3 there is the following text:

[code]

Shouldn't this be.

[code]

There is nothing in particular about ALPS that requires the media type to support hypermedia.

[2014-01-18 02:20] #21 closed, assigned to nobody

[2014-01-18 02:23] glennblock opened #22 "Add content clarifying that mapping rules are needed"
Section 1.3 shows several examples of an ALPS document mapped to different formats i.e. XML, HTML, CJ, etc.

In its current form it implies that it somehow naturally was mapped from one from the other, but in actuality there needs to be some sort of mapping rules to achieve this, it's not magic.

It would be nice if the doc called out that mapping will be needed so that the reader doesn't sit thei

[2014-01-24 05:54] #10 closed, assigned to nobody

[2014-01-24 05:54] #11 closed, assigned to mamund

[2014-01-24 05:54] #18 closed, assigned to nobody

[2014-02-07 03:04] mamund opened #23 "Close out issues for First I-D"
I have had the following issues in "pending" mode for a while and plan to close them out this weekend.  This will bring ALPS close to a clean draft for first I-D submission.

Issues in Pending:
#3 #4 #6 #7 #16

Anyone wishing to comment before I close these please do so before Sunday afternoon EST.

[2014-02-07 03:29] #13 closed, assigned to mamund

[2014-02-11 03:43] #6 closed, assigned to mamund

[2014-02-11 03:43] #16 closed, assigned to mamund

[2014-02-11 03:44] #23 closed, assigned to nobody

[2014-02-12 16:27] fosdev opened #24 "Markdown would be very nice"
https://github.com/alps-io/spec/blob/master/draft-00.txt#L593-L597

[2014-02-12 19:49] fosdev opened #25 "Misc. Typos, Etc."
* For'
https://github.com/alps-io/spec/blob/master/draft-00.txt#L189

* Unnecessary whitespace
https://github.com/alps-io/spec/blob/master/draft-00.txt#L320

* This is not a sentence:
https://github.com/alps-io/spec/blob/master/draft-00.txt#L399-L400

* … child of a ‘descriptor’ element.
https://github.com/alps-io/spec/blob/master/draft-00.txt#L610

I can see how you have worded this consistently

[2014-02-12 20:06] fosdev opened #26 "HTML examples inconsistent and confusing:"

[2014-02-12 20:09] fosdev opened #27 "HTML examples inconsistent and confusing:"
Is this correct? Shouldn't this be the "collection" ID has become the CSS class of an HTML form? Or do you actually want the class on the submit button.
https://github.com/alps-io/spec/blob/master/draft-00.txt#L397-L398

You put the class on the search button, not the form here:
https://github.com/alps-io/spec/blob/master/draft-00.txt#L800-L805

and again differently here:
https://github.com/alps-

[2014-02-12 20:10] #26 closed, assigned to nobody

[2014-02-21 19:30] fosdev opened #28 "No example of links in ALPS samples"
Unless I am missing it, there is not example of an ALPS profile with a links section in it in the spec.

[2014-02-28 18:17] junosw opened #29 "Alps serialization - 'type' is a reserved keyword"
Many languages today have libraries for serializing JSON to objects that can be used in code and back to JSON.  One of the common patterns used is to write classes whose properties are then serialized to JSON where the property name would be the key in a typical JSON key/value pair.

Making use of these serialization libraries presents a problem when implementing serializers for ALPS because of th

[2014-03-04 03:29] fosdev opened #30 "Appending doc value vs. replacing when extending descriptor"
If I href some descriptor, the spec currently indicates that any attributes/elements in the inheriting descriptor override the base descriptor. In the case of a doc element, it may be desireable to append/decorate the base value vs. completely replace it.

[2014-03-10 19:06] odrotbohm opened #31 "How to differentiate between resource parameters and returned semantic items"
In the [intro sample](http://alps.io/spec/index.html#rfc.section.1.3) of the spec, the descriptor type `semantic` is used for both describing that the resource takes a parameter of that descriptor (e.g. `nameSearch`) as well as to list semantic fields of the representation returned (e.g. all nested descriptors within `contact`).

How can a client differentiate between the two without having a link

[2014-03-10 19:07] odrotbohm opened #32 "Sample descriptor uses undefined attribute"
The `collection` descriptor in the [intro sample](http://alps.io/spec/index.html#rfc.section.1.3) uses an undeclared attribute `rt`.

[2014-03-11 17:04] fosdev opened #33 "Indicating presence of IANA registered link in API and not violating definition"
Should an ALPS document be allow to indicate say a `edit` descriptor for a `idempotent` transition in such a way that allows a client to know it is part of the profile, but not override the Atom IANA definition. Or are we limited to just saying "a client should just understand that" and not include it in a profile? Seems the latter is less than desirable.

[2014-03-14 22:33] fosdev opened #34 "type should allow space separated values"
We should be able to do:
<descriptor id="light fuse" type="idempotent unsafe"/>

[2014-03-14 22:37] fosdev opened #35 "Should we allow space separated href"
So, if we allow

<descriptor href="#this #that"/>

With a simple rule set, seems we could get some nice flexibility.

[2014-03-15 02:27] #34 closed, assigned to nobody

[2014-03-18 23:06] fosdev opened #36 "Extensibility"
Develop wording for extension of ALPS for other uses as a base spec and refine/find other ways to extend profiles at runtime.

[2014-04-16 14:24] zeldigas opened #39 "ext:value property power are not same for json and xml"
Here is a description of value property in spec:

The problem is that in xml it's a node attribute, but in json it's just a object's property. As spec does not apply any constraints, saying the value is undetermined, in JSON I can use an object of any complexity I wan't, when for xml I can use only string of text.
I think that representations should be equal, and either restrict json version to st

[2014-07-28 14:51] #2 closed, assigned to mamund

[2014-07-30 13:17] steveklabnik opened #48 "Weird half-sentence"
https://github.com/alps-io/spec/blob/master/draft-00.xml#L302

[2014-07-30 15:10] #3 closed, assigned to mamund

[2014-07-30 15:43] #4 closed, assigned to mamund

[2014-07-31 13:29] mamund opened #50 "clean up text for first I-D Release"
go through the doc and clean up any nits before first I-D. this is only for clean up, not changes in features/functionality.

[2014-08-10 17:20] fosdev opened #53 "Cardinality of semantic descriptors"
IMO, ALPS should indicate explicitly whether a semantic element is one or whether it is multiple.

C&P from Leonard r TK's on contact example (removed from spec for 00 release).

"contact" type items.
-

The "contact"
-          ID has become the CSS class of an HTML table.
-
-          ID has become the CSS class of the TR elements in an HTML table.

[2014-08-11 04:22] #50 closed, assigned to nobody

[2014-08-11 04:24] mamund opened #54 "prep doc for first I-D Release"
- fixup -get-off-my-lawn... reference to http://tools.ietf.org/html/rfc7320
- submit to IETF Data Tracker
- post msg to app-discuss, alps-discuss, hypermedia-web, rest-discuss, api-craft

[2014-08-11 04:39] #48 closed, assigned to nobody

[2014-09-06 01:18] #54 closed, assigned to nobody

[2014-09-06 01:21] mamund opened #55 "how do we indicate "rel" values mapping from ALPS to target media type?"
right now the `alps.id` and `alps.name` are used to map to `class` in HTML. is there a way to map something to the `rel` attribute in HTML?

what about other formats (Cj, HAL, etc.)?

seems `rel` is important for many types and there is nothing in ALPS that lets us control that mapping directly, right?

[2014-10-09 23:02] fosrias opened #56 "clarifying href with fragment to local descriptor"
Currently, href requires a resolvable URL in the spec but indicates fragments can be used in section [2.2.7.2](http://tools.ietf.org/html/draft-amundsen-richardson-foster-alps-00#section-2.2.7.2). The example there shows a fragment in a fully qualified URL. I think we want to allow and should clarify that  using a fragment in an href to indicates a relative URL pointing to a descriptor in the docu

[2014-10-09 23:14] fosrias opened #57 "rt should allow external profile element"
Think maybe rt is too constrictive and should be a fragment if local and resolvable URI if in another profile.

[2014-11-12 20:58] fosrias opened #58 "Is there a need for a protocol related section or separate spec w/r to types and uniform interface verbs"
I wonder if we should at least put SHOULD wording in the spec w/r to HTTP or consider another doc like media-type mappings. One cannot rely on verbs given implementors can do wonky things. One reason a profile is necessary is you cannot rely on a protocol uniform interface verb to dictate safe and unsafe reliably. But a profile should reliably state that and possibly constrain verbs allowed to be

[2015-01-15 11:09] Xophmeister commented on #24
Another vote for markdown from me. Although, of course, there's the perennial issue of what exactly that means, given its loose spec and multiple/vendor-specific definitions. My view is that should be left unto the client to worry about!

Is there any reason why both AsciiDoc *and* Markdown can't be supported by the ALPS spec? Why the "one or the other" attitude, besides brevity's sake?

[2015-01-15 15:58] mamund commented on #24
i added asciidoc *because* it offers the same benefits of markdown w/o the
difficulty of sorting out vendor politics ;)

if we *do* add support for MD, i'd want to use this I-D as a guide
(including the indication of "variants" to help sort our implementations)
https://tools.ietf.org/html/draft-ietf-appsawg-text-markdown-05

comments?

mamund
+1.859.757.1449
skype: mca.amundsen
http://amundsen.com

[2015-01-16 16:23] Xophmeister commented on #24
Given the holy war and schism that was sparked the last time a standardisation attempt was made, this I-D seems like a sensible and pragmatic approach. So, yes: Sounds like a plan!

[2015-01-16 16:33] mamund commented on #24
cool. do you want to whip up a PR that adds MAY support for markdown based
on this I-D? ​

[2015-01-16 16:51] fosrias commented on #24
So, there is some controversy in play ATM on markdown per the following:

* https://twitter.com/markdown/status/507341395137658880
* http://blog.codinghorror.com/standard-markdown-is-now-common-markdown/

Apparently John Gruber, author of Markdown has a problem with the aforementioned spec and use of Markdown. CommonMark, I believe, is what is making its way toward a spec. So, not sure how all thi

[2015-01-16 17:03] Xophmeister commented on #24
The I-D mentioned by @mamund side-steps this issue by not imposing any spec (there's nary a Backus-Naur to be seen), but rather deferring to the client to parse, using a `variant` parameter on the media type as a "hint". In my opinion, it's actually quite careful not to rile Gruber -- his work is explicitly referenced as being standard -- and recommends an IANA registry for variants (e.g., CommonM

[2015-01-16 18:56] fosrias commented on #24
Ok. Did not read the spec close enough. :thumbsup: from me @mamund.

[2015-01-20 15:00] #24 closed

[2015-01-20 20:48] fosrias opened #61 "Clean up use of quotes."
Decide on single or double quotes for emphasis and make consistent.

[2015-02-24 05:11] mamund commented on #56
yep. good point.

[2015-02-28 20:17] fosrias opened #63 "Use of <xref>with content</xref> has incorrect syntax."
Per [RFC2629] (https://tools.ietf.org/html/rfc2629#section-2.3.1.4), putting content in an xref element results in generating an extra <cite/> element that shows up in html as [something]. Thus, in our current spec, the html version has thinks like ['descriptor'](#) [prop-descriptor] all over.

The way to fix this is not to use content, but rather format="title" in the <xref/> tag per [xml2rfc FAQ

[2015-02-28 20:20] fosrias commented on #61
@mamund I recommend the following rules:

1. Use single quotes for 'emphasis' in text.

2. Use double quotes for attributes in xml tags and json objects.

If you concur, I will open a PR to clean this up.

[2015-02-28 21:43] mamund commented on #63
Right. Good catch.
On Feb 28, 2015 3:17 PM, "Mark W. Foster" <notifications@github.com> wrote:

[2015-02-28 21:43] mamund commented on #61
Works for me
On Feb 28, 2015 3:20 PM, "Mark W. Foster" <notifications@github.com> wrote:

[2015-03-01 00:14] #56 closed

[2015-03-01 04:51] #61 closed

[2015-03-01 04:51] #63 closed

[2015-03-03 08:05] ApiSecRay commented on #25
Section 2.2.6 has the typo 'defintion'.

[2015-03-03 08:14] ApiSecRay commented on #25
Section 3 has the typo '[details'.

[2015-03-03 08:18] ApiSecRay commented on #25
Section A.1 has the typo 'represetentations'.

[2015-03-04 01:11] mamund commented on #25
adding some items from Graham Klyne (from the media-type list):

Sect 1.4

"This URL SHOULD be assumed to be dereferencable." reads oddly (making a normative statement about an assumption?).

Maybe just "This URL SHOULD be dereferencable."?

----

Sect 2.2.2: missing {...} around "alps" content?

{ "alps : "doc" : { "value" : "..." }, ... }

(cf. sect 2.3.3.1)

[2015-03-04 01:12] mamund opened #65 "add ref to frag ids in media type definitions"
Section 4.

I think the media type registrations should reference the fragment id interpretation (sect 2.2.7.2).

/via Graham Klyne

[2015-03-04 01:12] mamund opened #66 "clarify the use of the term "semantic""
Section 2.2.12

I'm not understanding what you mean by the description of type="semantic".  The examples given (html.span and html.input) aren't helping in this respect.

My guess is that some kind of introduction to the kind of hypermedia model your basing this upon is needed.  I think there's a lot of tacit knowledge permeating the spec that needs to be surfaced for those who aren't in tune with

[2015-03-04 01:13] mamund opened #67 "clean up text on id & name, IANA, etc."
2.2.7.3. Link Relation Values and 'id' or 'name'

I see a problem here.  It's all very well to say "If the resulting link relation type is the same as a registered relation type, the descriptor MUST not change the meaning of the IANA relation type.".

But an implementer cannot know what new relation types will be implemented in future.  An application that is conformant at the time of implementati

[2015-03-04 01:17] fosrias commented on #66
@mamund I really think this would be better served to use something like a JSON property or and xml tag(or attribute?). HTML is too far removed.

[2015-03-04 01:23] fosrias commented on #67
@mamund Hm. Seems we need to be a little careful here not to end up with HAL curie issues in relation types in APIs and how things map. Nice to be able to map human semantics for transitions without having to use urns, etc.

Might be able to have a formal definition and use something with "name" to allow mapping on that level if there is a profile and a match. Technically, the relation type would

[2015-03-04 01:36] mamund commented on #67
i want to make sure authors don't attempt to *redefine* the intent/meaning of existing rel values. and i'd like to do that w/ a minimum of hassle ;)

there are a couple things to consider:
 - reg'd *where* (IANA, microformats, RDF ontology, etc.)
 - reg'd *when* (Graham's point, i think) maybe when i created the profile this was not a reg'd word, but two years later is now *is* What is to be done?

[2015-03-04 01:39] mamund commented on #66
you mean in the example cases in the spec doc?

when mapping a profile onto HTML, we still need to use some element, right? and `span` and `input` are proper examples of mapping "semantic" descriptors, right?

[2015-03-04 01:57] mamund commented on #25
@fosdev:

please review the misc items in this thread and highlight any that *remain* unresolved. due to updates, the line numbers no longer match up ;<.

i'll attack as many of these as i can this week to close this item out.

[2015-03-04 02:10] mamund commented on #25
@fosdev: see typos branch for fixes from this list.

[2015-03-04 03:32] fosrias commented on #66
Yeah. I think that is fine, but it is far more abstract than some example of showing a semantic descriptor being a json property on JSON or some equivalent in xml. Could leave in the HTML, but may the semantic section warrants some code examples for clarity.

[2015-03-04 03:36] fosrias commented on #67
Sadly indeed. That is the easy way out but maybe the only? At least from a descriptor `id` standpoint. I will mull this one.

[2015-03-04 04:36] mamund commented on #66
maybe we need an additional section up near the top, too.

[2015-03-04 17:11] smizell commented on #67
While this problem exists in the ALPS document itself, does it also exist in media types that support IANA and other link relations? In other words, if you solve name collisions in ALPS, it seems like there will still be name collisions in the message itself.

For example, say a media type supports IANA link relations but does not handle collisions. As soon as I introduce a profile into my message

[2015-03-04 17:40] mamund commented on #67
i think we need to be clear on the _problem_ here.  what i'd like to prevent is overriding the intent of registered link relation values. IOW, i don't want ppl to think they can use an existing rel value and apply a new meaning to it.  that's a social thing, not a technical thing.

but we can use some technical details in our spec to _lead_ ppl into behaving as we are hoping.

i think the right _a

[2015-03-07 20:04] fosrias commented on #33
So, what I am saying here is if I want to add `edit` in my profile, so that a client or whoever knows that is one of the semantic elements, how do I ensure that it means the same thing as the IANA definition absent wording to enforce that. Seems we may have addressed this, and it may relate to https://github.com/alps-io/spec/issues/67.

Should we close this one and move the discussion to https://g

[2015-03-07 20:11] fosrias commented on #30
@mamund We have never discussed this. Don't feel strongly about it reading it now. I think the documentation of the present descriptor is king, so I vote to just close this. Shall I?

[2015-03-07 20:13] fosrias commented on #9
@mamund Should this be closed? Seems we have done this.

[2015-03-07 23:57] mamund commented on #33
closed -- covered in #67

[2015-03-07 23:57] #33 closed

[2015-03-07 23:58] mamund commented on #9
closed -- see #65 for follow up.

[2015-03-07 23:58] #9 closed

[2015-03-07 23:59] mamund commented on #30
closed w/o action.

[2015-03-07 23:59] #30 closed

[2015-03-08 01:45] mamund commented on #5
@fosdev @fosrias (not sure which to use here ;)

do you want to take a run at writing up some guidance on this? maybe a para or two w/ and example? we  can add a section at the bottom that covers this and (eventually) some other "best practice" type of stuff.

if you're for it, just assign this one to yourself and cut a branch for this issue.

[2015-03-08 01:52] mamund commented on #25
closed as completed.

[2015-03-08 01:52] #25 closed

[2015-03-08 01:58] mamund commented on #29
ok @fosrias and @junosw

time to clear this up!

right now anything other than "`type` is going to be a breaking change. i'd like to avoid that and close this out.

any objections?

[2015-03-08 02:24] mamund commented on #28
added to the example in 1.3

[2015-03-09 01:20] fosrias commented on #29
@mamund was wondering about that. At this point I think we close this and leave it to ALPS client developers to accommodate this using some other convention. So, :+1: to close by me.

[2015-03-09 01:41] mamund commented on #29
agreed.

closed w/o actoin.

[2015-03-09 01:41] #29 closed

[2015-03-09 02:01] mamund commented on #65
add ref to JSON Pointer RFC6901 sec6 for frag ids in JSON flavors of ALPS:
http://tools.ietf.org/html/rfc6901#section-6

add ref to XPtrFramework and Shorthand pointers for fragids in XML flavors of ALPS
http://www.w3.org/TR/xptr-framework/#shorthand

[2015-03-09 20:40] mamund commented on #28
closed w/ merged PR "issue-28"

[2015-03-09 20:40] #28 closed

[2015-03-09 20:51] mamund commented on #19
closed and merged into #22

[2015-03-09 20:51] #19 closed

[2015-03-09 20:51] mamund commented on #22
from @fosrias #19

"Requires minimal definition of nuances per media-type. Examples in ALPS spec should illuminate this. Examples forthcoming."

[2015-03-09 21:20] mamund commented on #57
@fosrias

pls check out the issue-57 branch and merge or comment as needed.

[2015-03-10 04:11] fosrias commented on #57
@mamund Opened https://github.com/alps-io/spec/pull/70 so I could comment to address this.

[2015-03-10 04:16] fosrias commented on #22
@mamund Going to address https://github.com/alps-io/spec/issues/27 in the course of this PR. As such, closing https://github.com/alps-io/spec/issues/27.

[2015-03-10 04:16] fosrias commented on #27
Closed per comment on issue #22

[2015-03-10 04:16] #27 closed

[2015-03-10 13:51] #57 closed

[2015-03-12 01:39] mamund commented on #65
@fosrias

in reviewing the various options for frag-id support, i've looked at JSON Pointer and XPointer as well as guidance on "best practices for implementing/supporting frag ids. while pointers are available (JSONPointer, XPointer) i propose to use only "Plain Name" frag-ids for ALPS[1]. basically, just an opaque string (e.g. `"#user"` -> `id="user"`) and _not_ any pointer schemes.

sound ok?

[2015-03-13 14:30] fosrias commented on #65
Yeah. That has been my understanding from the beginning. Further, I am not
sure w/r to alps there would be any point to pointing to some isolated part
of a descriptor. href is sufficient to point to a specific descriptor.

So, short answer: concur

On Wednesday, March 11, 2015, Mike Amundsen <notifications@github.com>
wrote:

[2015-03-13 14:56] mamund commented on #65
there might be a call from some to *also* support the pointer specs. language/guidance is fuzzy there (as in, we're supposed to support the specs already established for the "suffix" media types).

i'll leave it like this and let's see how it goes.

[2015-03-31 03:37] mamund opened #71 "bugs in example.json document in sec 2.3.3.1."
The descriptor with an ID of 'value' has a type of 'descriptor' when the spec seems to imply only four valid options - 'semantic', 'safe', 'idempotent', 'unsafe'. We assume this was supposed to be "semantic" in this case.
The same also applies to the descriptor with ID of 'resultType'. (the XML representation provided above in the spec seems to be correct)

contributed by David Meacock

[2015-04-15 03:55] fosrias commented on #67
So, first off, saying you have to use custom link relations via URIs in a message with ALPS really starts to obscure the semantics aspect IMO. Where are the semantics the custom rel? The fragment? If so, we would have to state that probably. The ability to use like semantics in a message to the id or name is something I think is a benefit.

I think given the timing issue of when defined, we can ob

[2015-04-15 05:05] mamund commented on #67
@fosrias

first, using 5988 URLs for LinkRel Values doesn't obscure anything. *Humans* might find them unpleasant, but that's all. *machines* don't care about the contents of the string as long as it is consistent.

they are in the same place as the semantics in your example for "locks" -- or any other non-registrered magic string.

let's not confuse using fragments, w/ using rel values.

love to

[2015-04-20 00:15] mamund commented on #65
closed per pr #72

[2015-04-20 00:15] #65 closed

[2015-05-15 16:40] #66 closed

[2015-05-15 16:44] fosrias commented on #22
@mamund I think we decided our response to Issue 66 should address this ATM. Shall we close this?

[2015-05-15 16:48] fosrias commented on #22
@glennblock Do you think this section suffices for now as more of an intro to the comments on this issue?

https://rawgit.com/alps-io/spec/master/index.html#rfc.section.1.3

[2015-10-06 19:38] smizell opened #75 "Human Readable Titles"
As I'm working with ALPS, the one thing I feel that I'm missing is a way to provide a human-readable value for the document and descriptors.
- Right now, other than the description—which feels more long-form to me—there is no real way to provide the title of what an actual profile is. In the example in the spec, I feel like I'd like something like "Contact List" to display at the top of the page.

[2015-10-06 19:43] fosrias commented on #75
Just use URL introspection and it will be whatever is on the end as then title/name of the profile. That is a reliable way to handle this. :stuck_out_tongue_winking_eye:

[2015-10-06 19:48] smizell commented on #75
Just to add, when the `href` is to a descriptor within the page, you'd still need a title on the descriptor.

I can see a benefit of introspecting, as you have a single source of truth for the title. But I can think of a profile that links to several descriptors. Trade off I guess.

I'm building something that will display a profile in HTML, so you can browse it in the browser. Going to allow for

[2015-10-19 21:45] fosrias opened #77 "Ability to expand a meaning of inherited descriptor vs. overriding keys."
Currently, the spec indicates that if we create a new descriptor referencing another and define a key in the new descriptor, it replaces the prior. This mechanism can lead to changing fundamental meaning in a strict interpretation.

Need a mechanism to expand. E.g.

[code]

Possibly contrived. But the second doc significantly changes the resulting descriptor by my current interpretation of the spe

[2015-10-19 21:54] mamund commented on #77
not sure i see a problem here. you mean that the <doc> element has been
overridden and that's the problem?

On Mon, Oct 19, 2015 at 5:45 PM, Mark W. Foster <notifications@github.com>
wrote:

[2015-10-19 22:01] fosrias commented on #77
Yes. By how I interpret the current spec.

[2015-10-19 22:09] mamund commented on #77
two things.

1) this might be pointing to the difference between "override" (href) and
"sameAs" (src). do you mean to actually override id="white" (href) or *add*
an equivalent (src) here?

2) FWIW, i think the *doc* element is a non-critical element -- at least
for machines.  i don't expect ppl to write machine code that sets up a
dependency on the contents of the "doc" element (but i could be ju

[2015-10-19 22:10] fosrias commented on #77
Well, by my interpretation of the spec, I have overridden the doc. But in this case, I just want to expand on the original descriptor without fundamentally changing its semantic meaning. This later scenario is not afforded in the spec ATM IMO (I have been hanging around you too much using these acronyms).

[2015-10-19 22:12] fosrias commented on #77
Yes, the sameAs working like href, or an array of the URIs is an interesting possibility

[2015-10-19 22:13] fosrias commented on #77
Sorry for the chain, so `href` is inheritance mechanism and `src` as an expansion mechanism or something like that.

[2015-10-19 22:21] mamund commented on #77
right - i think this goes back to our thread on the list today.

i'd like to see some kind of "sameAs" pattern and i think it can work along
with a single construct - "src" property

http://alps.io/profiles/colors/
<descriptor id="white">
  <doc>a color</doc>
</descriptor>

http://alps.io/profiles/languages/spanish/
<descriptor id="blanco" src="http://alps.io/profiles/colors/#white">
  <doc>un col

[2015-10-19 23:04] smizell opened #78 "Doc element and embedded HTML/XML"
The `doc` element allows for HTML, Markdown, or plain text. This means that its contents should always either be encoded or wrapped with CDATA when used within XML.

This may be implied with using XML, though some may think the spec allows for including HTML elements directly in the document. Just mentioning in case it should be explicitly mentioned.

My only issue here is a cosmetic one. For inst

[2015-10-19 23:51] mamund commented on #78
SM:

good stuff.
​
1) i totally agree that space-preservation is an issue worth noting (both
for XML and HTML)
2) i don't want to *require* using CDATA (open for discussion on this)
3) i assume this would all "be the same" for JSON representations (e.g.
when you want to smuggle XML docs in a JSON ALPS representation
4) we proly need some language somewhere. either in the spec [couched in
MAY... te

[2015-10-20 01:43] smizell commented on #78
I would guess that when you have HTML or XML as the value for a doc, you either must use CDATA or encode it (like `&lt;foo&gt;bar&lt;/foo&gt;`). How you do this may depend on if you want to have some XSD that describes the ALPS XML. If you do, you would end up defining the contents of `doc` as a string, which would restrict people from using actual XML as its value.

When it comes to Markdown, I b

[2015-10-20 02:32] mamund commented on #78
<snip>
How you do this may depend on if you want to have some XSD
</snip>
again, i am not sure setting a requirement (via XSD or any other validator
format) is a good idea. I'd like to allow ppl to do what works best/easiest
for the tooling at hand.

<snip>
Smuggling XML only requires you to escape any double quotes in the string's
value (I believe).
</snip>
which is why i don't want to set any sp

[2015-10-20 02:37] fosrias commented on #78
Well, it seems to me, in the case of XML in particular, that most tooling has a good chance of choking on html in an xml tag or html in markdown.

I think some statement about the xml parsing safety of the contents of doc element. I.e. contents of a doc element SHOULD (MUST would be better) safe for standard xml parsing, etc. or something to that effect to give direction to authors to not screw ev

[2015-10-20 02:46] mamund commented on #78
ok, now we're getting somewhere.

this sounds to me as if we want to say that an ALPS document MUST not
contain invalid XML -- right? that goes for both XML and JSON variants, i
assume.

I can get behind that, just fine.

​

[2015-10-20 02:49] fosrias commented on #78
Yep. That is the point. @smizell Like to propose some text/open a PR?

[2015-10-20 03:01] mamund commented on #78
sounds good to me.

mamund
+1.859.757.1449
skype: mca.amundsen
http://amundsen.com/blog/
http://twitter.com/mamund
https://github.com/mamund
http://linkedin.com/in/mamund

On Mon, Oct 19, 2015 at 10:49 PM, Mark W. Foster <notifications@github.com>
wrote:

[2015-10-20 03:59] smizell commented on #78
First, my question would be then, is the value of a `doc` a string, or is it up to the user? From the above it sounds like it should be up to the user when the user wants to include their own XML. The spec currently does not allow for XML as a format for the `doc` element, and specifies that any format not listed should be treated as plain text. Should there be an XML format? For me, I'm unsure if

[2015-10-20 05:26] mamund commented on #78
so, let's get down to basics. what are we trying to prevent/enable?

i think we're trying to prevent invalid XML, but maybe not.

maybe we're trying to make sure the contents of the DOC element are always
valid according to the @type property of the DOC element.

maybe we're trying to prevent/enable something else?

before we talk about "how" to do this (or what validator, etc. to use),
let's be s

[2015-10-20 19:32] fosrias commented on #78
IMO, the key issue here is that standard tooling does not choke in trying to parse/process an ALPS document.

That includes:

* Preventing invalid documents that don't parse, be they XML or JSON. Presumably this includes preventing invalid embedded XML in JSON and vice versa.
* Preventing invalid content in the doc elements per @format property (this to a lesser extent IMO) so that it can be rende

[2015-10-20 20:13] mamund commented on #78
yep - that all makes sense.

* **Preventing invalid documents that don't parse** - if we use "valid document" that seems to make sense. to take a McIlroy POV[1]: so, maybe something like _"ALPS document authors (including generators) MUST NOT produce invalid documents (e.g. invalid JSON, invalid XML). Document consumers SHOULD reject any document that is invalid (XML/JSON)."_
* **Preventing invali

[2015-10-20 20:24] smizell commented on #78
This goes back to my question above, about how you would like to give direction in XML. Do you want to say that the value of `doc` is a string and the `format` attribute gives a hint on how to parse it? Or do you want to allow actual XML as the content along with string (making this some kind of enumeration of string and XML)? This may be important, because someone writing an ALPS XML library woul

[2015-10-20 20:56] fosrias commented on #78
Well, per Mike's prior comments and his wording here, it covers both. It has to parse, so either it includes XML directly or it includes CDATA. We are un-opinionated. Just make sure the whole thing is valid for its base media type.

Am I missing something? Seems Mike's wording leaves it up to the author however he decides to ensure it is valid. You as a client are going to have to introspect the d

[2015-10-20 21:04] mamund commented on #78
I'll add that Stephen has a good point. do we want to REQUIRE that -- in the XML variant of ALPS, the content of `doc.value` be a *string*? doing this means that the content of `doc.value` is NOT part of the document -- just a string pile to be processed per the `format` property.

at first pass, this seems like the right approach. i haven't worked out the pro/con details, tho.

for the XML varian

[2015-10-20 21:44] smizell commented on #78
@mamund Yes, you got it :) Keeping `doc` as string allows you to put anything you want in there and rely on parsing instructions from the given format. This applies to XML as well, as you could have a `format="xml"` and then wrap the XML in CDATA or encode it. That's very simple, and it allows for anything a user may want, really.

But as mentioned, allowing for literal XML means that my parser ha

[2015-10-21 13:25] mamund commented on #78
ok, took me a while, but i see your final points as good spec material. the
first one ("doc.value MUST be a string") is a definite improvement. the
second point may be bashing the reader a bit?

@fosrias: you ok w/ this?

i yes, i say @smizell should feel free to work that up into a PR and submit.

thanks for taking the time to walk me through this.
​

[2015-10-22 00:02] fosrias commented on #78
* The ALPS document must be valid XML

The latter is worth saying.

+1 by me.

[2015-10-23 05:21] smizell opened #79 "Resource Type as URL and ID"
I've seen `rt` [used as a URL](http://alps.io/schema.org/Thing.xml), but I see [in the docs](http://tools.ietf.org/html/draft-amundsen-richardson-foster-alps-01#section-2.2.11) it may match the `id` of another descriptor. Should the spec provide clarity on this? Is this meant to allow the user to use it how they wish?

If it's desired to make this specific, one option I see is to make it a resolva

[2015-10-23 05:34] mamund commented on #79
yep - this is a spec bug, i think. the value of RT SHOULD be a valid URL
pointer to an existing descriptor ID. for in-doc pointers, you MAY use hash
values ("#contact") for external pointers you MUST use either a relative
URL ("/profiles/users#contact") or absolute URLs ("
http://api.example.org/profiles/users#contact").

happy to discuss further, but if we're all cool w/ this, feel free to work
u

[2015-10-28 20:21] dschulten opened #80 "Purpose of nested descriptor siblings not clear"
Quote from the spec:

--- snip ---

If 'descriptor' is declared at the top level of an ALPS document,
   then a client SHOULD assume that 'descriptor' can appear anywhere in
   a runtime message.

   If 'descriptor' is nested, i.e. declared as a child of another
   descriptor, then:

   1.  A client SHOULD assume them to appear in any sibling 'descriptor'
       element and recursively in their ch

[2015-10-31 14:21] mamund commented on #80
DS:

sorry for the long silence on this.

this is an attempt to give some guidance (not spec, i guess) on how to
handle "scoping" issues for ALPS documents. the point we're trying to make
here is:

nesting descriptors is limiting their assumed scope. if i declare
<descriptor id="givenName" /> at the top of the document, then it should be
*assumed* to have a scope of global. however, if i declare <

[2017-02-15 01:22] fosrias commented on #8
@mamund So, in the recent google group discussion, it got my wheels turning about this topic again. It seems to me that options are semantics too and could possibly be used reused elsewhere, so they are probably better as descriptors than values in an `ext` element.

Not sure I have gotten all the way there, but the following is grappling with an idea.

[code]
Here notice introducing a type enum t

[2017-08-11 03:33] rickardoberg opened #82 "Text cleanups"
As per my email to the mailing list, here are some issues I found in the current spec that could use some cleanup:
* 2.2.2 "doc" has the following JSON example:

JSON:  { "doc" : { "format" : "text" : "value" : "Date of Birth ..."  } }
Is the semicolon between text and value a typo?

* 2.2.2 "JSON: { "descriptor" : { { "doc" : { "value" : "..." } ... } }"
Is the double { a typo? The following seem

[2019-04-06 01:05] koriym opened #83 "Needs schema files"
It would be great if we have schema files (XSD and JSONSchema). Not only the validator can check the validity but also It helps to complete input in the modern text editor.

[2019-04-06 03:00] koriym commented on #83
@mamund I'm working to create JSONSchema for ALPS.

One question.

I found ` "type" : "descriptor"` in the sample list on last in http://alps.io/spec/drafts/draft-01.html#prop-descriptor .

[code]

but `type` should be either `semantic`, `safe`, `idempotent` or `unsafe` ?
http://alps.io/spec/drafts/draft-01.html#rfc.section.2.2.12

What is the type `descriptor`?

[2019-04-06 03:35] mamund commented on #83
Hmmmm.

Not sure about this.

Is this summer kind of extension?

Or just a typo?

On Fri, Apr 5, 2019, 23:00 Akihito Koriyama <notifications@github.com>
wrote:

[2019-04-06 03:50] koriym commented on #83
Seems typo for me ...

[2019-04-06 03:51] koriym commented on #83
Found PR for this 😅
https://github.com/alps-io/spec/pull/76

[2019-04-06 18:16] koriym commented on #83
@mamund You are welcome. Feel good that I could contribute your work at last. :)

[2019-04-06 18:16] #83 closed

[2019-04-06 18:18] mamund commented on #83
happy we are working on this together, too.

[2020-09-19 00:22] mamund commented on #82
covered in pending draft-04

[2020-09-19 00:28] mamund commented on #71
resovled in draft-02

[2020-09-19 00:28] #71 closed

[2020-09-19 00:37] mamund commented on #32
resolved in draft-02

[2020-09-19 00:37] #32 closed

[2020-09-19 00:59] mamund opened #86 "add TEXT property to DESCRIPTORS"
instead of having to use the DOC nested element for any human-readable content, add a TEXT element to hold oneliners

[code]

[code]

[2020-09-19 18:04] mamund opened #87 "add TITLE element to ALPS"
follow up to #75

add TITLE element to allow naming things for humans to read (also for document generation).

[code]
and

[code]

also consider making TITLE a property for XML DESCRIPTORS:

[code]

[2020-09-19 18:19] mamund opened #88 "add TAGS property to all elements"
add the TAGS element to DESCRIPTOR, LINK, DOC, EXT, and ALPS elements as a way to have "tag bucket" to add useful values to any element. this will make implementing reader/writers easier w/o requiring lots of additional document format approvals in the future. The value of the TAGS element is a space-separated list.

[code]
in the above example, the TAGS contain the following unique values: `draft

[2020-09-19 18:32] mamund opened #89 "add SRC/REF/SAME property to DESCRIPTOR and EXT elements"
NOTE: this is meant to help support a `sameAs` functionality within ALPS (see #12 )

the SRC (or REF? or SAME?) proprety is an optional property that you can use to reference the source or provenance of a DESCRIPTOR or EXT element.  For example, you can define a semantic element with the `id` property set to `"firstName"` and a `src` property set to  point to the source defintiion in schema.org (i

[2020-09-19 20:07] fosrias commented on #8
So, I think this could be solved using an optional `data` property, e.g. `data="enum"`

[2020-09-19 20:09] fosrias commented on #5
@mamund I actually think this is a significant design issue that if not already resolved needs to be.

[2020-09-19 20:40] mamund commented on #8
or `<descriptor id="red" type="semantic" enum="true" />

or `<descriptor id="colors" type="semantic" enum="red blue green" />`

or

[code]
note in the last solution, `type` property is added to the `ext` element. i think this is an important change we need to do not withstanding this particular change request.

[2020-09-19 20:42] mamund commented on #5
sounds good, @fosrias

open up a thread on the list
write up a strawman draft as a solution
we can discuss, resolve, and adopt.

[2020-09-19 20:53] mamund opened #90 "add TYPE property to EXT element"
i've found a handful of times that i need to mark EXT elements with TYPE information to help reader/writer tooling.  This will be a single string property that can contain any valid string text. the meaning of that value can be documented when documenting the EXT element itself.

[code]

this may also help with issue #8

[2020-09-19 21:40] fosrias commented on #7
@mamund Couple of thoughts.

1. I should be able to describe an extension in ALPS document once (stay DRY) and re-use in in multiple places in that same document.  This is tantamount to defining a top-level descriptor and then re-using it throughout the document as a nested descriptor, for example.

An example is if I am using an extension to say that a descriptor is a list data type or an enum, I

[2020-09-19 21:42] mamund commented on #7
Sounds reasonable. Write up some examples to show how it works and we can discuss.

[2020-09-19 21:49] fosrias commented on #8
@mamund I think `type` is a good idea and one could get a lot of mileage out of that for data annotations. I think you could also do something like:
[code]
etc.

[2020-09-19 21:51] mamund commented on #8
Yep. And can help with reuse in general. I'll write up a change for the spec and we can review.

Thanks

[2020-09-19 22:04] fosrias commented on #8
@mamund I will note that for data annotations, that will get really verbose. And so adding `ext` to every descriptor would be a pain.

I think or `xml` this would be fairly verbose, but less so for JSON.

[code]
Just spit balling, but his might be interesting the ability to ref inline:
<descriptor ext="#list-extension" >
  <descriptor id="color" ext=#colors-enum"/>
<descriptor />

[2020-09-19 22:07] mamund commented on #8
Not getting it yet but maybe some larger examples will help me. Feel free to write it up and we can discuss.

[2020-09-19 22:10] fosrias commented on #89
Can `src` be a url to an ALPS `descriptor` to show SameAs?

[2020-09-19 22:12] mamund commented on #89
Probably. Would like to explore possible problems but if be happy if that could work.

I'll write up a first pass and we can discuss.

[2020-09-19 22:22] fosrias commented on #7
Couple possibilities:

[code]
or support `ext` as `xml` property

[code]

[2020-09-19 22:23] fosrias commented on #12
@mamund should we just close this and take this up in the other thread?

[2020-09-19 22:28] fosrias commented on #14
So, this is the dreaded versioning issue. I can see guidelines being similar API guidelines:

1. Don't take anything away.
2. Don't change the meaning of something in an ALPS doc
3. Don't make something required.

If you do version it.

As a consumer, you should ignore something that is in a profile but not in a related resource. In that way if new elements are in the ALPS profile but not the rela

[2020-09-19 22:45] fosrias commented on #17
@mamund I remember us discussing this walking in front of Pier 1 on the embarcadero 😛 .

I think is actually part of a broader topic around externally extending existing profiles, e.g. something like an overlay ALPS def. I don't see another topic on this.

So will drop a thought or two here. I think we want to point an extension at a descriptor or maybe an ALPS doc, right?

If I have a "profile" h

[2020-09-19 22:48] fosrias commented on #35
@mamund Lets close this. Not sure it makes sense and too terse description to remember what koolaid I was drinking.

[2020-09-19 22:50] fosrias commented on #36
Related to: https://github.com/alps-io/spec/issues/17 and https://github.com/alps-io/spec/issues/7. Should we collapse all these @mamund?

[2020-09-19 22:56] fosrias commented on #53
I can see a couple of approaches to this.
1. Use an `ext` to define as list.
2. Use a convention like:
[code]
3. Ignore this issue.

I think the question here is cardinality really a semantic issue. I don't think it is. I think it is a data type thing. That being said, I think using 2 to indicate this MAY be a list might be a simple and useful convention.

[2020-09-19 23:00] fosrias commented on #58
I think this is a different spec for sure. I wonder if there is a general approach to mapping that you could have a spec that indicates how to map ALPS to media-types or protocols? Might be over ambitious, but I think in the context of ALPS ATM there is no need for this. In the context of DISCO and services implementing profiles, probably.

[2020-09-19 23:12] fosrias commented on #86
So, per some of the other options I discussed around `ext`, is there a reason to not reuse the term `doc` as an attribute here? Seems there are some cases where that would produce some nice syntactic sugar and the rule can be precedence for xml. This may require a little re-working of the `doc` wording.

Not sure the value of adding a new `text` element myself.

[2020-09-19 23:20] fosrias commented on #77
@mamund I think we can close this as https://github.com/alps-io/spec/issues/89 could cover this. I think the `src` argument above works. I am not sure now that expanding the semantic meaning actually means anything 😛 . If something means more, maybe you have changed the meaning. If you want to define broader understanding, but it means the same, `src` should work.

[2020-09-19 23:25] mamund commented on #36
Sure. Pick one and do it.

[2020-09-19 23:25] fosrias commented on #58
And maybe we should close this and open an issue on a repo for spec around mappings and keep mapping spec related issues there. We can keep mapping wording clarification issues here. But I think we should not discuss here.

[2020-09-19 23:25] mamund commented on #35
Done.

[2020-09-19 23:25] #35 closed

[2020-09-19 23:26] mamund commented on #58
Done.

Feel free to start another repo for mapping/binding efforts.

[2020-09-19 23:26] #58 closed

[2020-09-19 23:40] mamund commented on #77
Closed with a ref to issue #89

[2020-09-19 23:40] #77 closed

[2020-09-19 23:52] fosrias commented on #36
@mamund Closing his one. Will leave other two open as on further review they address separate issues.

[2020-09-19 23:52] #36 closed

[2020-09-19 23:56] fosrias commented on #15
Moving convo here: https://github.com/alps-io/mapping/issues/1

[2020-09-19 23:56] #15 closed

[2020-09-19 23:59] fosrias commented on #22
@mamund I am leaving this here, cause it is related specifically to wording in spec. However, maybe we can close it as addressed?

[2020-09-20 00:03] fosrias commented on #7
@mamund These examples clarify?

[2020-09-21 19:11] mamund commented on #7
not yet<g>.

first one make sense but second one (as attribute) doesn't yet. i'm wary of using EXT references as they are not returning the same thing as other refs (DOC and LINK). we may be running into challenges on what to expect in reply

there's a REL on LINK, there's an implied expectation on DOC and now w/ EXT as a possible href there are additional challenges.

we should proly discuss this

[2020-09-21 20:16] fosrias commented on #7
Yes. We are not consistent on uses of the same thing @mamund across different components

[2020-10-01 12:20] filip26 commented on #75
Hi @smizell ,
what about to display a content of 'doc' element attached to a descriptor or to a profile?

e.g.
[code]

HTML link:

[code]

[2020-10-01 13:01] filip26 opened #91 "Use contentType and contentEncoding to specify doc element content and encoding"
A motivation is to let a user choose any 'doc' content (including non-text).

e.g.
[code]

[code]

[code]

This change implicates deprecation of the 'format' on 'doc' element.

[2020-10-01 13:02] filip26 commented on #78
Hi,
I would just propose a slightly change:
  * The doc element's content MUST be represented as a string.

The wording could be improved, but the motivation is to allow a user to put any content that can be serialized as a string, even binary data (see #91).

[2020-10-01 13:13] filip26 commented on #79
Is there any reason to use URL and not URI/IRI? I would prefer:

  * 'rt' value MUST be valid URI

It solves the issue, and also allows to use 'well-know' IRI as a definitive identifier.

btw. what about adding a label `errata`? it would be easier to search later.

[2020-10-01 13:18] filip26 opened #92 "Proposal: consider Internationalized Resource Identifier (IRI)"
IRIs are supported by all the modern browsers, it would be great to reflect the current state and consider to replace URIs with IRIs in the next version of the specification.

[2020-10-01 18:37] fosdev commented on #5
@mamund Does the following expose the issue sufficiently IYO:

Here is a valid un-dereferenced ALPS document:
[code]
If you dereference it, it becomes an invalid ALPS document:

[code]
And this problem and potential for non-unique document-wide `id`s only gets worse when an `href` references an external ALPS profile.

[2020-10-01 21:33] mamund commented on #5
this "de-referencing" example is a real surprise to me. It did not occur to me to replace references w/ inline content. I have been treating references in a doc the way you'd treat variables in code. 1) a declaration at the top, and 2) a *use* of that declared element in one or more places.

what you are showing me here looks, to me, to be some kind of duplication, not a reference.

so, before deb

[2020-10-02 21:03] fosdev commented on #5
So, here is another version that show the problem if dereferencing external docs:

Here is a valid un-dereferenced ALPS documents:
[code]
[code]
If you dereference it, it becomes an invalid ALPS document:

[code]

Neither JSON or YAML support dereferencing/using other files per their spec. Usually some other spec would say how to do that (e.g. `$ref` in OpenAPI). They don't support multiple instan

[2020-10-03 15:01] smizell commented on #75
Hi @filip26 👋

The difference for me with `doc` is that:

1. It might be long
1. It might be a different type than plain text

I see Mike has proposed with #87. I'll add a couple of comments there on his specific idea, as I think it's what I was thinking.

[2020-10-03 15:12] smizell commented on #87
I personally like making it a property for XML DESCRIPTORS. This is more aesthetics than anything because a new tag could make the XML kind of ugly.

[code]

I like the TITLE tag directly under ALPS, though. It would end up looking something like this.

[code]

[2020-10-03 15:23] mamund commented on #87
yes -- the `<title>` tag is well-known in HTML, too. it can easily be treated differerently than using `<doc>` in a special way, too.

i also prefer to *not* create overrides of existing elements for other uses.

[2020-10-03 15:26] mamund commented on #92
what's the advantage of IRIs over URIs/URLs?

also, would this be a  breaking change or just an additional support?

i think it is important to note in the spec where string can be de-referenced (URL) and where strings are for identification only (URI). this greatly eases parsing at runtime for machines. how does IRI fit into this?

maybe a couple examples?

[2020-10-03 15:29] mamund commented on #75
i want to make sure runtime parsers can determine whether the description is to be displayed at runtime (e.g. `text` attribute) or used within design/build-time documentation (`doc` element). and the `title` is even unique in this case. title might be displayed either at runtime and/or design/build documentation.

let's make it easy to author and interpret documents. HTML has done this very well a

[2020-10-09 15:17] koriym opened #93 "add REL property to DESCRIPTOR"
Currently `REL` is restricted to use in `LINK`.
https://tools.ietf.org/html/draft-amundsen-richardson-foster-alps-03#section-2.2.10

[2020-10-09 15:39] koriym commented on #93
I don't think so. But it should be limited to those that aren't `semantic`?

[2020-10-09 15:55] mamund commented on #93
@koriym :

i don't think we need to worry about _preventing_ the use of `rel` on `type="semantic" `descriptors. there is no real danger and there _might_ be some benefit that someone can come up w/.

[2020-10-15 13:57] mamund commented on #87
added the TITLE element as a child of ALPS. this does not meet the need of single-string attributes for DESCRIPTOR, LINK, or DOC, tho. new issue?

[2020-10-15 14:02] mamund commented on #82
most of the clean ups completed in commit: 17dd302dd1a3a38aaa18c737f3cfeaa18b86147e

[2020-10-22 15:30] #75 closed

[2020-10-22 15:30] #82 closed

[2020-10-22 15:30] #87 closed

[2020-10-22 15:30] #93 closed

[2020-10-22 15:39] mamund opened #94 "LINK element can be an array"
per @koriym:

make sure the LINK element 2.8.8 can be an array, too.

[2020-10-22 15:42] mamund commented on #94
per @filip26
make sure it can be both a single item OR an array.

[2020-10-23 12:30] filip26 commented on #92
Internationalized Resource Identifiers (IRI) are complementary to URIs:

[code]

and

[code]

Allowing using IRIs instead of URIs does not prevent existing ALPS users to continue using URI
but it allows another users using 'URIs with non ASCII characters'

Please note that IRI does not require scheme as RFC defines IRI-reference. [3]

## References

1. [RFC-3987 - Abstract](https://tools.ietf.org/

[2020-10-23 13:09] filip26 commented on #94
It is not just a `link` element, but also `ext`, `doc`, `descriptor` ( in a case of ALPS+JSON and ALPS+YAML). To prevent having arrays of just one item and to improve readability, I would go with:

* an element can be represented as a single element
* an element can be represented as an array of single element  (no multidimensional arrays)

[2020-10-23 13:30] filip26 commented on #92
add URL and deference-ability: I would let it on a client to decide what to process and what not,  following the rule 'ignore what you do not understand / what you cannot process'

all examples below should be valid:
[code]

[2020-10-23 13:35] filip26 commented on #88
What is the relationship between `tags` and `rel`?

All other attributes and elements use singular form, what about just `tag`?

[2020-10-23 13:44] filip26 commented on #90
If `type` value range is not defined by the specification then it adds just a little value, because it is expected that a client/processor 'knows' but if a client knows then it can know an unspecified `type` attribute.

if the type value range is defined then I'm thinking maybe introducing other elements could be more readable.

e.g.
[code]
I personally like keeping the spec simple. Let's discuss

[2020-10-23 20:21] mamund commented on #94
sounds good. i'll write it up and update this issue for review.  -- thanks.

[2020-11-04 16:06] mamund commented on #92
@filip26 @koriym

sounds fine. would either of you like to write this up as a pull request for the spec? i'm not quite up to speed on the IRI details and would be happy if someone else was able to write the mod for the spec. even a draft that I can use as a guide in the editing would be helpful.

thanks.

[2020-11-04 16:07] mamund commented on #90
we can discuss this in the weekly AOOH. I'm OK w/ dropping the TYPE element for EXT if it complicates things.

[2020-11-04 16:13] mamund commented on #86
i'd prefer to not confuse long strethes of text (DOC) with quick single-string lines (TEXT).

the TEXT can be usesd as rollover content for element in HTML, prompts in some other formats. DOC can be used to product long-form documentation.

thoughts?

[2020-11-04 16:16] mamund commented on #91
@filip26

can you prepare some remarks for an upcoming AOOH to help us discuss/decide this one?

[2020-11-05 16:48] mamund commented on #91
add `contentType` if value is not understood, assume `contentType="text/plain"`

we'll skipp `contentEncoding` for now

[2020-11-05 16:53] mamund commented on #90
not for now.

[2020-11-05 16:57] mamund commented on #88
let's clarify relation between TAG and REL

[2020-11-05 17:00] mamund commented on #86
what about description or doc-text or *title*?

[2020-11-05 17:32] filip26 commented on #92
here is an example how JSON-LD defines IRI usage. Replace JSON-LD node with ALPS element.

[3.2. IRIs](https://www.w3.org/TR/json-ld11/#iris)

[2020-11-05 19:31] mamund commented on #92
@filip26

i note this from the JSON-LD document on IRIs...

This makes me think that IRIs are meant as identifiers and not as locators, right? esp. since IRIs support non-locator schemes ('urn' for one), it seems they are not appropriate for all cases.

what do you think?

[2020-11-05 19:53] filip26 commented on #92
yes, IRIs are identifiers meant to replace URIs. URLs are a subset of URIs and URIs are a subset of IRIs.

IRIs/URIs are meant to denote things, and therefore great to express semantic information.

e.g.
[code]
but could be confusing when you just want to pass a location where to get more

e.g.
[code]

I'm thinking that this could be solvable by making a distinction between semantic definition (IR

[2020-11-05 20:07] mamund commented on #92
yes. this makes total sense to me URLs for 'href' and IRIs for 'def'.

this also loops back to @koriym's comments about 'def'

i need to work up a portion of text for 'def' and that's when the IRIs will come in.

thanks.

[2020-11-10 00:58] mamund commented on #89
for this release, we'll be adding the `def` element to descriptors. the value of `def` will be an IRI that uniquely identifies the defintiion of the `descriptor`. Note that this might not be the equivalent of `sameAs` and we can address that separately.

[2020-11-10 01:50] #90 closed

[2020-11-10 01:50] mamund commented on #90
closed out

[2020-11-15 22:38] mamund opened #98 "create a public end-point for ALPS schemas"
@koriym mentioned the need to have a public URL for our JSON and XSD schema documents for ALPS. @koriym brought up github.io and @smizell mentioned using netlify for this.

i'm adding this issue here to call out the need and help focus the discussion and encourage collboration to complete the task.

-- @mamund

[2020-11-27 21:54] filip26 commented on #92
an example:
Web of Things defines IDs as URIs and examples use 'urn' to identify a thing.

[Thing Description ](https://www.w3.org/TR/wot-thing-description/#thing)

[2020-12-03 00:39] #86 closed

[2020-12-03 00:39] #89 closed

[2020-12-03 00:39] #92 closed

[2020-12-03 00:39] #94 closed

[2020-12-03 15:23] koriym opened #99 "$comment keyword in JSON format"
Make `$comment` a valid keyword in the ALPS JSON document by borrowing a notation from JSON Schema.

See

 * https://json-schema.org/understanding-json-schema/reference/generic.html#comments
 * https://github.com/json-schema-org/json-schema-spec/issues/197

[2020-12-03 15:48] mamund commented on #99
does this break the vlaidator?

[2020-12-04 12:40] filip26 commented on #99
unknown elements/attributes should be ignored. I don't understand what value `$comment` brings to the alps. There is already `doc` and `title`.

JSON-Schema:

[2020-12-04 16:13] mamund commented on #99
yep. adding $comment is a way to support inline comments like `` in XML and `# this is a comment` in YAML. these would not be there for rendering purposes but only for authoring needs (human-readable comments, possibly tooling can use them, etc.)

this will be an optional element that could appear anywhere in the document. it'd be nice if the converter could retain the comments through various for

[2020-12-04 16:27] filip26 commented on #99
it does not break the code but  what is the difference between a comment and a description/title?  Does a comment really add a value?

I understand that '$' notation is well-adopted by JSON schema but looks inconsistent with `alps+json` and `alps+yaml` notation.

[2020-12-04 18:53] mamund commented on #99
yes. i'll let @koriym weigh in here but my understanding was that this would be a JSON-only element. IOW, not change to XML and YAML since they each *already* support inline comments.

IOW, in converters `$comment =  = #` and there would not be any `$comment` element in XML or YAML flavors of ALPS.

[2020-12-05 13:29] koriym commented on #99
`$comment` is like a just comment in a programming language. It's for the maintainer not for the user.

I found the following comments in https://github.com/alps-io/profiles/tree/master/xml repo. Most of them are comments for grouping by types (semantic/vocabulary or action/transition).

[code]
Those comments can't express in 'documentation/title'.

[2020-12-05 13:31] koriym commented on #99
JSON lacks comments as argued here. https://github.com/json-schema-org/json-schema-spec/issues/197
@mamund Yes, I intended this is only a JSON format element.

[2020-12-05 13:33] filip26 commented on #99
That's interesting. Perhaps, we could explore `tag` attribute or try to introduce something that helps with 'grouping'.

[2020-12-11 10:31] filip26 commented on #99
Following up yesterday's meeting.  

- Anyone can use `$comment` even if it's not part of the specification. The result is a valid JSON and ALPS parsers ignore unknown elements.
- Introducing `$comment` to the specification brings irregularities:
  * it is JSON only applicable (what about YAML/XML, do we need to say something about commenting here too?)
  * plausible confusion with `doc` and `titl

[2020-12-11 15:17] koriym commented on #99
Some may use `comment`, `"//comment"` or even `cmt`? "You can use anything for the comment" doesn't seems good way.

I understand this. You are right.

`doc` and `title` are for users. Those describe the application but`$comment` is the  only for maintainers and does not describe any form of application.

Only "ignore" is not enough for those who want to have more strict schema like me. I prefer `

[2021-01-05 17:13] mamund commented on #98
I propose we start a new repo just for schemas to make it easier to manage and track changes.

can we just move the schemas folder from the spec repo and make it a new schema?

i'm looking for volunteers to manage the repo (@koriym? @smizell? others?)

wdyt?

[2021-01-05 18:19] mamund commented on #88
i wrote up a document to describe use of ID, NAME, REL, and TAG here:
https://github.com/alps-io/misc-docs/blob/master/id-name-rel-tag.asciidoc

if there are no objections, I'd like to add TAG to the spec (as OPTIONAL) and incorporate the doc guidance into the spec, too.

wdyt?

[2021-01-05 19:42] mamund commented on #99
we should wrap up discussion on this one soon.

at this point i am interested in the following:
- what are the *adjvantages* of including `$comment` support as an optional element in the JSON representation?
- what are the *downsides* of including `$comment` support as an optional element in the JSON representation?

[2021-01-05 20:20] filip26 opened #101 "Enable Github's Discussions"
Hi,
I'm just thinking it would be great to try Github's discussions for this repository.  It looks better suited for discussing stuff than Issues.

[Join the conversation with GitHub Discussions](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions)

It's available for all my public repos so I hope y

[2021-01-05 21:57] mamund commented on #101
@filip26

great idea! i've opened up the discussions tab for the spec repo now.

-- thanks.

[2021-01-05 21:57] #101 closed

[2021-01-07 14:58] mamund commented on #78
cleaning this up in our AOOH...

 * MUST be valid XML
 * Discourage placing XML or HTML within the DOC Element
 * The doc element's content MUST be represented as a string.
 * Use of CDATA is RECOMMENDED

[2021-01-13 22:59] #88 closed

[2021-01-14 00:49] mamund commented on #78
closed in pull #105

[2021-01-14 00:49] #78 closed

[2021-01-14 01:22] mamund commented on #91
issue closed.

start a new issue for `contentEncoding` if/when ready.

[2021-01-14 01:22] #91 closed

[2021-01-14 16:30] mamund opened #107 "mods to update draft-06"
- [x] write up example for `contentType` property
- [x] for `tag` property, add  "SHOULD provide human-readable document that defines the meaning of tag values. and support for a `tage-doc` rel value like this: `<LINK href="..." rel="tag-doc" title="definitions of tag values for this document/>`

[2021-01-14 19:41] #107 closed

[2021-01-23 19:46] mamund commented on #98
schemas are now handled in a separate repo here: https://github.com/alps-io/schemas

and the current schemas are published here: https://alps-io.github.io/schemas/

thanks to @koriym and @smizell for this work

[2021-01-23 19:46] #98 closed

[2021-01-23 19:47] mamund opened #109 "Clean up and publish DRAFT-06 to IETF"
make final fixes and publish to IETF tracker

[2021-01-24 14:58] koriym commented on #98
Congrats 🎉

[2021-01-28 14:35] mamund commented on #109
published to IETF

https://datatracker.ietf.org/doc/draft-amundsen-richardson-foster-alps/

[2021-01-28 14:35] #109 closed

[2021-03-04 16:18] koriym opened #110 "On how to reference semantic descriptors with hierarchical structures"
ALPS documents use semantic descriptors to define the meaning of words, but these words can be what the user intends them to be, depending on what they are included in.

For example, `name` is defined as "The name of the item." in schema.org. But the name is the name of a person if it is included in "person", or the name of a product if it is included in "product". Thus, the exact meaning of a phr

[2021-03-04 21:12] mamund commented on #110
yes. this is something to explore. right now (after scanning my own content) i find that media-type specific solutions (e.g. JSONPath and XMLPath) are what i rely upon to deal with hierarchies at runtime. for example, reading ALPS and producing OpenAPI.

but we have no general, universal way of talking about nesting/hierarchies in ALPS right now.

one way to approach this is to focus on how we are

[2021-04-28 00:36] koriym opened #111 "Conditions for adding `rel` tag"
In the diagram below, all the transitions towards Blog are `rel=collection`, but

A) Should I give `rel=collection` only to `BlogPosting => Blog`, which is essentially an `item => collection` relationship?

B) Or should I always give `rel=collection` when linking to a `collection` type resource no matter where the link from?

![image](https://user-images.githubusercontent.com/529021/116328480-1163

[2021-05-01 05:01] koriym commented on #111
Ok. The answer is "B", right?

[2021-05-01 16:41] mamund commented on #111
yes. that's what i do

[2021-05-01 17:33] koriym commented on #111
Arigato.

[2021-05-01 17:33] #111 closed

[2021-05-06 15:27] mamund opened #112 "update REL definition to use something other than RFC5988/IANA Registry"
we need better ways to point to definitions of link relation values

right now our spec (https://tools.ietf.org/html/draft-amundsen-richardson-foster-alps-06#section-2.2.12) say REL value MUST be from IANA or MUST then be URI.

this is not sufficient.

[2021-05-28 18:57] filip26 opened #113 "Inconsistent XML representation of title"
A title may appear on a document, a descriptor or on a link. The XML example in the specification represents title on document level as an element but on descriptor level as an attribute.

[code]

see [2.2.15](https://datatracker.ietf.org/doc/html/draft-amundsen-richardson-foster-alps-07#section-2.2.15) paragraph.

Let's make it consistent and recommend title be represented either as an element or

[2021-11-22 10:08] koriym opened #114 "When a single ID has multiple meanings by given context"
For example, I need two account IDs and the amount of money to transfer money.
How do I represent this?

href+name
https://github.com/alps-io/profiles/blob/master/xml/alps-with-varying-rt-values.xml#L32

[code]
(Is it valid to include more than one of the same ID?)

id+href
https://github.com/koriym/app-state-diagram/pull/67

[code]

[2021-11-23 14:48] koriym commented on #114
I've come to this conclusion.

This was the same thought that @tkawa had.

[2022-01-15 11:26] michalporeba opened #115 "Support for multiple human languages in ALPS"
ALPS format helps with collaboration between services, possible using different implementations on hypermedia in ReST. To make it more human friendly, I would like to support multiple languages at least in docs, but perhaps wider to describe how to access an action or resource in a specific language.

I think I could use a 'tag' with a language code but it doesn't quite fit the purpose of the tag

[2022-01-15 19:31] michalporeba opened #116 "Optional or mandatory descriptors for an action?"
Is it possible within current specification to distinguish descriptors which must be provided for an action or those that may or should?

I would like to use ALPS to automatically make requests to available actions using information available in the context of the client. I would like to allow some parameters to be optional, so the client can provide them if they are available, but still be able t